@import "tailwindcss";


* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

:root {
    --main-color: #0C081F;

}


.vertical-carousel .swiper,
.horizontal-carousel .swiper {
    width: 100%;
    max-height: 500px;
}

.vertical-carousel .swiper-slide,
.horizontal-carousel .swiper {
    text-align: center;
    font-size: 18px;
    background: #444;
    height: auto;

    justify-content: center;
    align-items: center;
}

.vertical-carousel .swiper-slide img,
.horizontal-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper .swiper-wrapper {
    transition-timing-function: linear !important;
    width: 100%;
}


.hero {
    @apply bg-linear-to-tr from-[#000000] via-[#061c64c1] to-[#000000];
}

/* .hero_gradient {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(271.06deg, rgba(0, 122, 255, 0.8) 14.34%, rgba(203, 48, 224, 0.8) 60.04%);
} */