/* Vertical carousel specific styles */
.vertical-carousel .swiper {
    width: 100%;
    max-height: 500px;
}

.vertical-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    height: auto;
    justify-content: center;
    align-items: center;
}

.vertical-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper .swiper-wrapper {
    transition-timing-function: linear !important;
    width: 100%;
}